* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: black;
  --main-background: rgb(241, 241, 48);
}

body {
  background-color: var(--main-background);
}

.navbar {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: min(90%, 25rem);
  height: 15rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-around;
}

.login-box > div {
  display: flex;
  flex-direction: column;
}

.signup-box {
  width: min(90%, 25rem);
  height: 15rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-around;
}

.signup-box > div {
  display: flex;
  flex-direction: column;
}

.navbar a {
  font-size: 2rem;
}

.tasks {
  border: 2px solid orange;
}

.task {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
}

.task > p {
  width: 90%;
  padding-left: 30%;
  padding: 1.5rem;
  border: 1px solid black;
}

.task > button {
  width: 10%;
}
