* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: black;
  --main-background: ;
}

.tasks {
  border: 2px solid orange;
}

.task {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
}

.task > p {
  width: 90%;
  padding-left: 30%;
  padding: 1.5rem;
  border: 1px solid black;
}

.task > button {
  width: 10%;
}
